i {
  color: #fff !important;
}
header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.mainLogo {
  width: 150px;
}
.logoImg {
  width: 100%;
}
.searchForm {
  display: flex;
  width: 300px;
  /* background: #222; */
  border-radius: 5px;
  /* color: #fff; */
  align-items: center;
}
.searchForm img {
  height: 30px;
  margin: 0.5rem;
}
.searchBox {
  width: 80%;
  background: transparent;
  border: none;
  color: #fff;
}
.searchBox:focus {
  outline: none;
}
.searchForm button {
  width: 20%;
  background: transparent;
  border: none;
}
.icon {
  color: #fff !important;
  font-size: 1.5rem;
}
.searchForm button:hover {
  cursor: pointer;
}
@media (max-width: 990px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .mainLogo{
    margin-bottom: 1rem;
  }
  .searchForm {
    width: 100%;
  }
}